<%= form_for @family, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :adults, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :adults, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :under18male, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :under18male, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :under18female, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :under18female, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :under18genderunknown, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :under18genderunknown, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :notes, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  families_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
