<%= form_for @family, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :adults, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :adults, options_for_select([["Select One", ""], "1", "2", "3", "4", "5"]), :class => "col-md-10 form-control"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Under 18 Male", :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%#= f.number_field :under18male, :class => 'text-field form-control' %>
      <%= f.select :under18male, options_for_select([["Select One", ""], "1", "2", "3", "4", "5"]), :class => "col-md-10 form-control"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Under 18 Female", :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :under18female, options_for_select([["Select One", ""], "1", "2", "3", "4", "5"]), :class => "col-md-10 form-control"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Under 18 Gender Unknown", :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :under18genderunknown, options_for_select([["Select One", ""], "1", "2", "3", "4", "5"]), :class => "col-md-10 form-control"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :notes, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit 'Submit Count', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  count_index_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
